//  variabel warna
$bg : #f0f0f0;
$card : #fff;
$text__marketplace : #fff;
$bg-logo : #000;
$dark-text : #37474F;
$medium-text : #78909C;
$light-text : #fff;

$tokopedia : #00B000;
$shopee : #FF6634;
$whatsapp : #546E7A;
$ig : linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
$fb : #4267B2;
$pricelist : #009688;
$cp : #B0BEC5;
$hover: #f0f0f0;

$unclicked : #ECEFF1;
$hover : #CFD8DC;
$active : $pricelist;



$border--radius__big : 1rem;
$border--radius__small : 0.5rem;
$border--radius__circle : 50%;