@import 'global';
@import 'variables';
@import 'mixin';

.container {
    width: 100%;
    min-height: 100vh;
    @include center (row, center, center);

    .card {
        width: 43em;
        min-height: 90vh;
        margin: 2rem;
        padding: 2rem 2rem 1rem 2rem;
        background-color: $card;
        border-radius: $border--radius__big;
        @include center (column, center, center);

        .profile {
            width: 5em;
            height: 5em;
            margin-top: 3rem;
            border-radius: $border--radius__circle;
            background-color: $bg-logo;
            @include center (row, center, center);
            transform: scale(1);
            transition: all 0.5s;

            img {
                width: 85%;
                height: 85%;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        .header__name {
            font-family: Roboto;
            font-weight: 300;
            text-align: center;
            font-size: 1.5rem;
            color: $dark-text;
            margin-bottom: 3rem;
        }

        .illustration {
            width: 90%;
            margin-bottom: 0.5rem;

            @media (min-width: 43em) {
                width: 70%;
            }

            img {
                width: 100%;
                margin-bottom: 2rem;
            }

            h2 {
                text-align: center;
                font-family: Roboto;
                font-weight: 500;
                font-size: 1.25rem;
                color: $dark-text;
            }
        }

        .link-section {
            font-family: Roboto;
            font-weight: 300;
            font-size: 0.9rem;
            color: $medium-text;
        }

        .btn--marketplace__tokopedia {
            @include btn-secondary($tokopedia);
        }

        .btn--marketplace__shopee {
            @include btn-secondary($shopee);
        }

        .btn--sosmed__wa {
            @include btn-primary ($whatsapp, none);
        }

        .btn--sosmed__ig {
            @include btn-primary (none, $ig);
            a {
                img {
                    height: 1.6rem;
                }
            }
        }

        .btn--sosmed__fb {
            @include btn-primary ($fb, none);
            a {
                img {
                    height: 1.6rem;
                }
            }
        }

        .btn--pricelist {
            @include btn-secondary ($pricelist);
        }

        #separate {
            margin-top: 2rem;
        }


        .footer {
            margin-top: auto;
            p {
                margin-top: 3rem;
                text-align: center;
                font-family: Roboto;
                font-size: 0.75rem;
                color: $cp;

                a {
                    font-family: Roboto;
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: $medium-text;
                }
            }
        }
    }
}

@import 'pricelist';