@import 'global';
@import 'variables';
@import 'mixin';

.container {
    width: 100%;
    min-height: 100vh;
    @include center (row, center, center);

    .card {
        width: 43em;
        min-height: 90vh;
        margin: 2rem;
        padding: 2rem 2rem 1rem 2rem;
        background-color: $card;
        border-radius: $border--radius__big;
        @include center (column, center, center);

        .profile {
            width: 5em;
            height: 5em;
            margin-top: 3rem;
            border-radius: $border--radius__circle;
            background-color: $bg-logo;
            @include center (row, center, center);
            transform: scale(1);
            transition: all 0.5s;

            img {
                width: 85%;
                height: 85%;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        .header__name {
            font-family: Roboto;
            font-weight: 300;
            text-align: center;
            font-size: 1.5rem;
            color: $dark-text;
            margin-bottom: 3rem;
        }

        .illustration {
            width: 90%;
            margin-bottom: 0.5rem;

            @media (min-width: 43em) {
                width: 70%;
            }

            img {
                margin-bottom: 2rem;
            }

            h2 {
                text-align: center;
                font-family: Roboto;
                font-weight: 500;
                font-size: 1.25rem;
                color: $dark-text;
            }
        }

        .link-section {
            font-family: Roboto;
            font-weight: 300;
            font-size: 0.9rem;
            color: $medium-text;
        }

        .btn--marketplace__tokopedia {
            width: 100%;
            height: 3.5rem;
            margin: 0.5rem 0;
            border-radius: $border--radius__small;
            border: 0.1rem solid $tokopedia;
            background-color: #fff;
            transform: scale(1);
            transition: all 0.3s;

            &:hover {
                background-color: $tokopedia;
                transform: scale(1.05);
            }

            a {
                width: 100%;
                height: 100%;
                color: $tokopedia;
                @include center (row, center, center);
                border-radius: $border--radius__small;
                transition: all 0.3s;

                &:hover {
                    color: $text__marketplace;
                }

                img {
                    height: 2rem;
                    margin-top: -0.2rem;
                    margin-right: 1rem;
                    // border-radius: $border--radius__small;
                }
            }
        }

        .btn--marketplace__shopee {
            @extend .btn--marketplace__tokopedia;
            border: 0.1rem solid $shopee;

            &:hover {
                background-color: $shopee;
                border: 0.1rem solid $shopee;
            }

            a {
                color: $shopee;
            }
        }

        .btn--marketplace__wa {
            @extend .btn--marketplace__tokopedia;
            border: 0rem solid $tokopedia;
            background-color: $whatsapp;

            &:hover {
                background-color: $whatsapp;
            }

            a {
                color: $text__marketplace;

                &:hover {
                    color: $text__marketplace;
                }

                img {
                    margin-top: 0rem;
                }
            }
        }

        .btn--marketplace__ig {
            @extend .btn--marketplace__wa;
            background-image: $ig;

            &:hover {
                background-image: $ig;
            }

            a {
                color: $text__marketplace;

                &:hover {
                    color: $text__marketplace;
                }

                img {
                    height: 1.6rem;
                }
            }
        }

        .btn--marketplace__fb {
            @extend .btn--marketplace__wa;
            background-color: $fb;

            &:hover {
                background-color: $fb;
            }

            a {
                color: $text__marketplace;

                &:hover {
                    color: $text__marketplace;
                }

                img {
                    height: 1.6rem;
                    margin-top: 0rem;
                }
            }
        }

        #separate {
            margin-top: 2rem;
        }

        p {
            margin-top: 2rem;
            text-align: center;
            font-family: Roboto;
            font-size: 0.75rem;
            color: $cp;
        }
    }
}